<div>
    {{#each dashboard }}
    <a href="/dashboard/{{id}}">
        <h2>{{title}}</h2>
    </a>
    <p>{{description}}</p>
    <p>Created by: {{user.user}} on {{created-at}}</p>
    {{/each}}
</div>
