<div>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <div>
        
    <p> {{comments.description}}</p>
    
    </div>
    <button class="edit-btn" data-id="{{id}}">Comment</button>
    <button class="del-btn" data-id="{{id}}">Delete</button>
</div>

<script src="/js/dashboard.js"></script>